body {
    background-color:rgb(45, 50, 71);
    
}

h1 {
    font-size: 32px;
    color:rgb(182, 189, 189);
    }

.wrapper {
    display: flex;
    color:rgb(182, 189, 189);
}

.footer {
    background-color:rgb(45, 50, 71);
    position: fixed;
    display: flex;
    width: 95%;
    height: 95px;
    align-items: center;
    left: 2;
    bottom: 0;
    margin-top: 10px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 10px;
}

.lacrm{
    /* margin-bottom: 5px;
    padding-bottom: 5px;     */
}
.green {
    color: green;
}



